.wrapper {
    padding-top: 26px;
    padding-bottom: 40px;
}

.navbar {
    padding: 20px;
    background-color: var(--cart-bg-color);
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 10px;
    box-shadow: 0px 20px 60px 10px var(--bg-cart-box-shadow);

    .link {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        cursor: pointer;
        color: #9e9da8;
    }
}
.cart-inner {
    margin-top: 30px;
    display: flex;
    gap: 30px;

    .left {
        flex: 1;
        background-color: var(--cart-bg-color);
        padding: 30px;
        box-shadow: 0px 20px 60px 10px var(--bg-cart-box-shadow);
        border-radius: 20px;
    }

    .right {
        width: 390px;
    }
}

.left .item {
    display: flex;
    gap: 30px;
    align-items: center;
    border-bottom: 1px solid #d2d1d6;
    padding-bottom: 10px;

    + .item {
        margin-top: 12px;
    }

    .thumbnail {
        flex-shrink: 0;
        width: 175px;
        height: 172px;
        object-fit: cover;
        cursor: pointer;
    }

    .item-wrap {
        flex: 1;
    }

    .item-group-1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        .name {
            width: 374px;
            color: var(--text-cart-color);
            font-size: 1.7rem;
            font-weight: 500;
            line-height: 1.44;
            cursor: pointer;
        }
        .total-price {
            color: var(--text-cart-color);
            text-align: right;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
        }
    }

    .item-group-2 {
        margin-bottom: 10px;

        .price {
            color: #9e9da8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.44;
        }

        .separate {
            margin: 0 5px;
            display: inline-block;
            width: 2px;
            height: 12px;
            background-color: #9e9da8;
        }

        .status {
            color: #67b044;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.44;
        }
    }

    .item-group-3 {
        display: flex;
        gap: 20px;

        .select-wrap {
            border-radius: 10px;
            border: 1px solid #d2d1d6;
            padding: 6px 20px;
            display: flex;
            align-items: center;
            gap: 10px;
            color: var(--text-cart-color);

            font-size: 1.5rem;

            font-weight: 500;
            line-height: 1.5;

            img {
                margin-top: 2px;
                width: 14px;
            }
        }

        .quantity {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 6px 20px;
            border-radius: 10px;
            border: 1px solid #d2d1d6;

            img {
                cursor: pointer;
            }
        }

        .actions {
            margin-left: auto;
            display: flex;
            align-items: center;
            gap: 30px;

            button {
                display: flex;
                align-items: center;
                cursor: pointer;
                color: #9e9da8;
                gap: 10px;
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1.5;
                .saved {
                    filter: brightness(0) saturate(100%) invert(23%) sepia(45%) saturate(5140%) hue-rotate(339deg)
                        brightness(90%) contrast(91%);
                }
            }
        }
    }
}

// .item:not(:last-child) {
//     border-bottom: 1px solid #d2d1d6;
// }

.left {
    .bottom {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

        .back {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            margin-top: auto;
            color: var(--text-cart-color);

            font-size: 1.6rem;

            font-weight: 500;
            line-height: 1.44;
        }

        .left-subtotal {
            div:nth-child(1),
            div:nth-child(2) {
                display: flex;
                gap: 200px;
                color: var(--text-cart-color);
                font-size: 1.7rem;
                font-weight: 500;
                line-height: 1.44;
                margin-bottom: 10px;
            }

            div:last-child {
                display: flex;
                justify-content: space-between;
                margin-top: 40px;
                position: relative;
                color: var(--text-cart-color);
                font-size: 1.7rem;
                font-weight: 600;
                line-height: 1.5;
                &::before {
                    background-color: #d2d1d6;
                    position: absolute;
                    content: '';
                    left: 0;
                    top: -20px;
                    width: 100%;
                    height: 1px;
                }
            }
        }
    }
}

.right {
    .right-subtotal,
    .gift {
        background-color: var(--cart-bg-color);
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0px 20px 60px 10px var(--bg-cart-box-shadow);
    }

    .gift {
        display: flex;
        align-items: center;
        gap: 20px;
        .wrap-icon {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 66px;
            height: 66px;
            border-radius: 14px;
            background: var(--wrap-icon-bg-color);
            box-shadow: 0px 20px 60px 10px var(--wrap-icon-box-shadow);
            img {
                width: 36px;
            }
        }

        h4 {
            color: var(--text-cart-color);
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.45;
        }
        p {
            color: var(--text-cart-color);
            margin-top: 6px;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.43;
        }
    }
    .right-subtotal {
        margin-bottom: 30px;

        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--text-cart-color);
            text-align: right;

            font-size: 1.6rem;

            font-weight: 700;
            line-height: 1.5;

            + .item {
                margin-top: 14px;
            }

            span {
                color: var(--text-cart-color);
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
            }

            strong {
                margin-left: 4px;
                color: #9e9da8;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
            }
        }

        button {
            width: 100%;
            margin-top: 30px;
            cursor: pointer;
            background-color: var(--primary-color);
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.45;
            padding: 12px;
            border-radius: 50px;
        }
    }
}

.right-subtotal .item.last {
    border-top: 1px solid #d2d1d6;
    padding-top: 12px;
}

.product-lable {
    color: #1a162e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 16px;
}

//SHIPPING
.shipping-header {
    color: #1a162e;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.42;
    padding-bottom: 20px;
    border-bottom: 1px solid #9e9da8;
}
.shipping-address {
    margin-top: 20px;

    .header-address {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 30px;

        div {
            display: flex;
            flex-direction: column;

            span:nth-child(1) {
                color: #1a162e;
                font-size: 1.8rem;
                font-weight: 500;
                line-height: 1.44;
            }

            span:nth-child(2) {
                margin-top: 4px;
                color: #1a162e;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.5;
            }
        }

        button {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            background-color: var(--primary-color);
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 50px;
        }
    }

    .list-address {
        margin-bottom: 30px;
    }
}

.list-address .item-address {
    display: flex;
    align-items: baseline;
    gap: 16px;

    .check-box {
    }

    .adress-details {
        flex: 1;

        .username {
            color: #1a162e;
            font-size: 1.7rem;
            font-weight: 500;
            line-height: 1.5;
        }

        .address-info {
            color: #1a162e;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            margin-bottom: 20px;
        }

        .state {
            display: flex;
            align-items: center;
            gap: 26px;
        }

        .state span {
            color: #1a162e;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.4;
            position: relative;

            &::before {
                position: absolute;
                left: -10px;
                top: 50%;
                content: '';
                width: 4px;
                height: 4px;
                background-color: #1a162e;
                border-radius: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .address-action {
        margin-top: auto;

        button {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            cursor: pointer;

            img {
                width: 16px;
            }
        }
    }

    + .item-address {
        margin-top: 30px;
    }
}

.btn-continue {
    background-color: var(--primary-color);
    padding: 9px 36px;
    border-radius: 50px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.45;
    cursor: pointer;
}

//PAYMENT METHOD

.left-payment {
    flex: 1;

    .heading {
        color: #1a162e;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5;
    }

    .shipping-address,
    .shipping-method {
        background-color: var(--cart-bg-color);
        box-shadow: 0px 20px 60px 10px var(--bg-cart-box-shadow);
        border-radius: 20px;
        padding: 20px;
    }

    .shipping-address {
        margin-top: 0;

        .wrap-1 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            button {
                display: flex;
                gap: 10px;
                align-items: center;
                font-size: 1.6rem;
                cursor: pointer;

                img {
                    width: 17px;
                }
            }
        }

        .wrap-2,
        .wrap-3 {
            background-color: #f6f6f6;
            border-radius: 20px;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p:nth-child(1) {
                color: #1a162e;
                font-size: 1.7rem;
                font-weight: 500;
                line-height: 1.4;
            }

            p:nth-child(2) {
                color: #696770;
                margin-top: 4px;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4;
            }
        }

        .wrap-2 {
        }

        .wrap-3 {
            margin-top: 20px;

            button {
                cursor: pointer;
            }
        }
    }

    .shipping-method {
        margin-top: 30px;

        h4 {
            padding-bottom: 20px;
            border-bottom: 1px solid #d2d1d6;
        }

        .desc {
            margin-top: 30px;
            color: #1a162e;
            font-size: 1.7rem;
            font-weight: 500;
            line-height: 1.4;
        }

        .wrap-1,
        .wrap-2 {
            margin-top: 20px;
            display: flex;
            align-items: center;
            border-radius: 20px;
            background: #f6f6f6;
            padding: 20px;
            justify-content: space-between;

            div:nth-child(1) {
                display: flex;
                align-items: center;
                gap: 20px;

                p:nth-child(2) {
                    margin-top: 4px;
                    color: #9e9da8;
                    font-size: 1.5rem;
                    font-weight: 400;
                    line-height: 1.5;
                }
            }

            .check-box {
                display: flex;
                align-items: center;
                gap: 10px;

                label {
                    color: #9e9da8;
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 1.4;
                }
            }
        }

        img {
            width: 68px;
            height: 50px;
            object-fit: cover;
            border-radius: 16px;
        }
    }
}

.right-payment {
    padding: 20px;
    width: 390px;
    background-color: var(--cart-bg-color);
    box-shadow: 0px 20px 60px 10px var(--bg-cart-box-shadow);
    border-radius: 20px;

    .heading {
        color: #1a162e;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5;
    }

    .desc {
        margin-top: 6px;
        color: #9e9da8;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.46;
    }

    .form {
        margin-top: 30px;

        .form-group {
            + .form-group {
                margin-top: 26px;
            }
        }

        .form-input {
            border-radius: 10px;
            border: 1px solid #d2d1d6;
            height: 50px;
            input {
                font-size: 1.6rem;
                width: 100%;
                padding: 12px;
                height: 100%;
                color: #403c51;

                &::placeholder {
                    color: #d2d1d6;
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 1.4;
                }
            }
        }

        .form-label {
            margin-bottom: 12px;
            color: #1a162e;
            font-size: 1.7rem;
            font-weight: 500;
            line-height: 1.44;
            display: block;
        }

        .form-multi-input {
            display: flex;
            align-items: center;
            gap: 16px;
            position: relative;

            border-radius: 10px;
            border: 1px solid #d2d1d6;
            height: 50px;

            &::after {
                position: absolute;
                content: '';
                height: 20px;
                width: 1px;
                background-color: #9e9da8;
                top: 0;
                left: 50%;
                transform: translateY(68%);
            }

            input {
                font-size: 1.6rem;
                width: 100%;
                padding: 12px;
                height: 100%;

                &::placeholder {
                    color: #403c51;
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 1.4;
                }
            }
        }

        button {
            margin-top: 30px;
            text-align: center;
            width: 100%;
            background-color: var(--primary-color);
            font-size: 1.6rem;
            cursor: pointer;
            padding: 12px 30px;
            border-radius: 12px;
        }
    }

    .sub-total {
        margin-top: 30px;

        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--text-cart-color);
            text-align: right;

            font-size: 1.6rem;

            font-weight: 700;
            line-height: 1.5;

            + .item {
                margin-top: 14px;
            }

            span {
                color: var(--text-cart-color);
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
            }

            strong {
                margin-left: 4px;
                color: #9e9da8;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
            }
        }

        .item.last {
            border-top: 1px solid #d2d1d6;
            padding-top: 12px;
        }
    }
}
