// Breakpoints, dimension, container, row, column, v.v
$grid-breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

@mixin breakpoint($key) {
    $breakpoint: map-get(
        $map: $grid-breakpoints,
        $key: $key,
    );

    @if ($breakpoint) {
        @media (max-width: ($breakpoint - 0.02)) {
            @content;
        }
    } @else {
        @error "The value #{$key} is not in breakpoint!";
    }
}
// end

.wrapper {
    display: flex;
    flex-direction: column;
}
.inner {
    margin-top: var(--height-header);
    min-height: 1000px;
    background-color: var(--body-bg-color);

    // @include breakpoint(md) {
    //     margin-top: 60px;
    // }

    @include breakpoint(lg) {
        margin-top: 60px;
    }
}
