.item {
    min-width: 100px;
    max-width: 320px;
    display: flex;
    align-items: center;

    justify-content: space-between;
    font-family: 'Inter', sans-serif;

    cursor: pointer;
    border-radius: 22px;
    transition: color, background-color;
    transition-duration: 0.3s;
    margin-right: 24px;

    &.active {
        background-color: #f8f7f4;
        color: #0d0c22;
        font-weight: 600;
    }

    &:hover {
        color: #585353;
    }

    span {
        padding: 0 14px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: break-all;
        line-height: 35px;
        color: #0d0c22;

        font-weight: 600;
    }
}
