// Breakpoints, dimension, container, row, column, v.v
$grid-breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

@mixin breakpoint($key) {
    $breakpoint: map-get(
        $map: $grid-breakpoints,
        $key: $key,
    );

    @if ($breakpoint) {
        @media (max-width: ($breakpoint - 0.02)) {
            @content;
        }
    } @else {
        @error "The value #{$key} is not in breakpoint!";
    }
}
// end

%flexItemsCenter {
    display: flex;
    align-items: center;
}

.wrapper {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 90;
    background-color: var(--header-bg-color);
}

.top-bar-more {
    // display: none;
    cursor: pointer;

    // @include breakpoint(lg) {
    //     display: block;
    // }
}

.top-bar {
    @extend %flexItemsCenter;
    position: relative;
    padding: 15px 0;

    @include breakpoint(sm) {
        padding: 9px 0;
        justify-content: space-between;
    }
    @include breakpoint(lg) {
        padding: 11px 0;
    }
}

.logo {
    @extend %flexItemsCenter;
    gap: 14px;
    cursor: pointer;

    @include breakpoint(lg) {
        gap: 10px;
        margin-left: 40px;
    }

    @include breakpoint(sm) {
        margin-left: 0;
    }
}

.logo-title {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;

    @include breakpoint(lg) {
        font-size: 1.8rem;
    }
}

.logo-img {
    @include breakpoint(lg) {
        width: 24px;
    }
}

.navbar {
    margin-left: 129px;

    @include breakpoint(xl) {
        margin-left: 50px;
    }

    @include breakpoint(lg) {
        padding: 20px 0;
        position: fixed;
        z-index: 9;
        inset: 0 50% 0 0;
        background-color: var(--bg-navbar-tablet);
        margin-left: 0;
        border-radius: 0 12px 12px 0;
        translate: -100%;
        transition: translate 0.5s;
    }

    @include breakpoint(sm) {
        inset: 0 20% 0 0;
    }
}

//built css -> ko dung scss
.navbar[class$='show'] {
    box-shadow: 0px 40px 90px 20px var(--side-bar-shadow-color);
    @include breakpoint(lg) {
        translate: 0;
    }
}
.navbar[class$='show'] ~ .nav-bar-overlay {
    @include breakpoint(lg) {
        visibility: visible;
        opacity: 1;
    }
}

.nav-bar-close-btn {
    // display: none;

    @include breakpoint(lg) {
        padding: 10px 40px;
        // display: block;
    }
    @include breakpoint(sm) {
        padding: 0px 20px 10px;
    }
}

.nav-bar-overlay {
    visibility: hidden;
    opacity: 0;

    @include breakpoint(lg) {
        position: fixed;
        inset: 0;
        z-index: 8;
        background-color: rgba($color: #000000, $alpha: 0.4);
        transition: opacity, visibility;
        transition-duration: 0.5s;
    }
}

.navbar ul.list {
    @extend %flexItemsCenter;

    @include breakpoint(lg) {
        flex-direction: column;
        align-items: flex-start;

        height: calc(100% - 40px);
        overflow-y: auto;
        overscroll-behavior: contain;
    }

    @include breakpoint(md) {
        height: calc(100% - 140px);
    }

    @include breakpoint(sm) {
        height: calc(100% - 124px);
    }
}

.navbar-item {
    &:hover .drop-down {
        display: block;
    }

    @include breakpoint(lg) {
        width: 100%;

        &:hover .drop-down {
            display: none;
        }
    }
}

@include breakpoint(lg) {
    .navbar-item[class$='navbar-item--active'] .drop-down {
        display: block !important;
    }
    .navbar-item[class$='navbar-item--active'] .arrow-icon {
        rotate: 0deg;
    }
}

.navbar-link {
    @extend %flexItemsCenter;
    gap: 6px;
    height: 50px;
    padding: 0 15px;
    span {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.67;
    }
    .arrow-icon {
        margin-top: 3px;
        transition: rotate 0.6s;

        @include breakpoint(lg) {
            rotate: -90deg;
        }
    }

    @include breakpoint(lg) {
        justify-content: space-between;
        padding: 0 40px;
        font-size: 1.6rem;
        line-height: 1.5;
    }

    @include breakpoint(sm) {
        padding: 0 20px;
        height: 44px;
    }
}

.nav-btn {
    align-items: center;
    padding: 0 40px;
    height: 50px;

    @include breakpoint(sm) {
        padding: 0 20px;
        height: 44px;
    }

    .nav-btn-title,
    .nav-btn-qnt {
        font-size: 1.5rem;

        font-weight: 500;
        line-height: 1.47;
    }

    .nav-btn-qnt {
        margin-left: auto;
    }

    .nav-btn-title {
        margin-left: 20px;
    }
}

.top-action {
    @extend %flexItemsCenter;
    margin-left: auto;

    @include breakpoint(sm) {
        margin-left: 0;
    }
}
.top-action-group {
    @extend %flexItemsCenter;

    border-radius: 8px;
    background-color: var(--top-action-bg-color);
    box-shadow: 0px 20px 60px 10px var(--top-action-group-shadow);
    min-width: 50px;
    height: 50px;

    .btn {
        @extend %flexItemsCenter;
        padding: 13px 20px;
        cursor: pointer;
    }

    + .top-action-group {
        margin-left: 20px;
    }
}
.top-action-group:nth-child(1) {
    .btn {
        padding: 13px 13px;
    }
    // @include breakpoint(lg) {
    //     display: none;
    // }
}
.separate {
    width: 1px;
    height: 30px;
    background: var(--top-action-group-separeate);
}
.action-title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.46;
    margin-left: 10px;
}

.top-action-user {
    height: 50px;
    width: 50px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
    margin-left: 20px;
    img {
        width: 100%;
        object-fit: cover;
        border-radius: inherit;
        display: block;
    }
}

//Drop down
.drop-down {
    position: absolute;
    left: 0;
    padding-top: 54px;
    width: min(1240px, 100%);
    display: none;

    &:first-child {
        display: block;
    }

    @include breakpoint(lg) {
        position: initial;
        padding-top: 0;
    }

    .inner {
        position: relative;
        padding: 30px;

        border-radius: 20px;
        background: var(--drop-down-bg-color);
        box-shadow: 0px 40px 90px 20px var(--drop-down-shadow-color);

        &::before {
            position: absolute;
            content: url('/assets/images/dropdown-arrow.svg');
            top: -13px;
            left: var(--arrow-left-pos);
            translate: -50%;
            filter: var(--drop-down-arrow-color);
        }

        @include breakpoint(lg) {
            border-radius: 0;
            padding: 0 40px;
            background-color: transparent;
            box-shadow: none;

            &::before {
                content: none;
            }
        }

        @include breakpoint(sm) {
            padding: 0 20px;
        }
    }
}

.top-menu {
    position: relative;
}

.top-menu-main {
    max-height: calc(min(582px, 100vh - 130px) - 60px);
    width: 292px;
    border-right: 1px solid var(--top-menu--border-color);
    overflow-y: auto;

    @include breakpoint(lg) {
        width: 100%;
        max-height: initial;
        border-right: none;
    }
}

.menu-column {
    display: flex;
    gap: 14px;

    + .menu-column {
        margin-top: 22px;
    }

    .menu-column-icon {
        flex-shrink: 0;
        width: 36px;
        height: 36px;
        position: relative;

        @include breakpoint(xl) {
            display: none;
        }

        @include breakpoint(lg) {
            display: block;
        }
    }

    .menu-icon:nth-child(1) {
        object-fit: contain;
        width: 30px;
        height: 30px;
    }

    .menu-icon:nth-child(2) {
        object-fit: contain;
        width: 24px;
        height: 24px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .menu-column-content {
        flex: 1;
    }
}

.menu-column-heading {
    margin-top: 4px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
}

.menu-column-list {
    margin-top: 19px;

    @include breakpoint(lg) {
        margin-top: 0;
        width: 100%;
        height: auto;
    }

    .menu-column-link {
        display: block;
        padding: 7px 0;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.43;

        &:hover {
            color: #0071dc;
        }
    }

    .menu-column-item.active > .menu-column-link {
        color: #0071dc;
        font-weight: 500;
    }
}
.menu-column-item {
    cursor: pointer;
}
.menu-column-item.active {
    .sub-menu {
        display: grid;
    }
}

.sub-menu {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    position: absolute;
    inset: 0 0 0 292px;
    padding-left: 30px;
    overflow-y: auto;
    margin-right: -30px;

    @include breakpoint(lg) {
        position: initial;
        grid-template-columns: 1fr;
        padding-left: 0;
        width: 100%;
    }
}

.sub-menu.not-main {
    display: grid;
    position: initial;
    inset: initial;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    max-height: calc(min(582px, 100vh - 130px) - 60px);
    padding-left: 0;

    .menu-column + .menu-column {
        margin-top: 0;
    }

    @include breakpoint(lg) {
        position: initial;
        max-height: initial;
        grid-template-columns: 1fr;
        padding-left: 0;
    }
}

.btn {
    padding: 9px 10px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.43;
    cursor: pointer;

    &.btn-text {
        color: var(--footer-text-color);
    }

    &.btn-primary {
        background-color: #ffb700;
        border-radius: 6px;

        @include breakpoint(md) {
            font-size: 1.4rem;
            padding: 0 8px;
            height: 40px;
        }
    }

    + .btn {
        margin-left: 10px;
    }
}
.theme {
    margin-left: 12px;
    border-radius: 8px;
    background-color: var(--top-action-bg-color);
    box-shadow: 0px 20px 60px 10px var(--top-action-group-shadow);
    min-width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
    }
}
