//Menu items

.menu-items {
    width: 224px;

    margin-top: 9px;
    position: relative;

    &::before {
        position: absolute;
        content: url('/assets/images/dropdown-arrow.svg');
        top: -13px;
        right: 0px;
        translate: -50%;
        filter: var(--drop-down-arrow-color);
    }

    .menu-item {
        margin-left: 0;
    }
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-item {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    padding: 11px 16px;
    line-height: 1.8rem;
    &:hover {
        background-color: var(--menu-item-hover-color);
    }
    &.separate {
        border-top: 1px solid var(--cart-popper-border-color);
    }
}

//Header

.header {
    margin-top: -8px;
    position: relative;
    height: 50px;
}

.back-btn {
    margin-top: 3px;
    width: 50px;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.header-title {
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
