.auth {
    display: flex;
    min-height: 100vh;
}

.auth-intro {
    background-color: var(--auth-intro-bg-color);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-content {
    flex: 1;
    padding: 0 30px;
    background-color: var(--auth-content-bg-color);
}

.auth-content-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: min(460px, 100%);
    margin: 0 auto;

    .auth-heading {
        margin-top: 50px;
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.47;
    }
    .auth-desc {
        margin-top: 10px;
        padding: 0 30px;
        color: var(--footer-text-color);
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.47;
    }
}

.auth-form {
    width: 100%;

    .form-group {
        margin-top: 30px;

        &.inline {
            display: flex;
            align-items: center;
        }
        &.auth-btn-group {
            display: flex;
            flex-direction: column;
        }
    }

    .form-text-input {
        height: 50px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        border: 2px solid var(--auth-border-color);
        padding: 0 12px;

        &:focus-within {
            border-color: #77dae6;
        }
    }

    .form-input {
        flex: 1;
        height: 100%;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44;

        &::placeholder {
            color: var(--auth-border-color);
        }
    }
    .form-input-icon {
        margin-left: 12px;
    }

    .form-checkbox {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .form-checkbox-label {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.45;
        color: var(--auth-label-color);
    }

    .btn-group {
        margin-top: 30px;
        width: 100%;
        .submit-btn {
            width: 100%;
            padding: 9px 10px;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.43;
            cursor: pointer;
            height: 50px;

            background-color: #ffb700;
            border-radius: 10px;
            color: #1a162e;
        }
    }

    .form-error {
        color: #ed4337;
        text-align: left;
        margin-top: 12px;
        font-size: 1.3rem;
    }
}
.auth-intro-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-box {
    margin-top: 60px;
    .logo {
        display: flex;
        align-items: center;
        gap: 14px;
    }
    .logo-title {
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.45;
    }
}

.auth-message {
    margin-top: 30px;
    width: 100%;
    padding: 14px;
    border-radius: 10px;

    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;

    &.success {
        border: 1.5px solid #5bc45f;
        background: rgb(39 243 117 / 20%);
    }

    &.error {
        border: 1.5px solid #da5c5c;
        background-color: #e0334733;
    }
}

.auth-text-link {
    display: inline-block;
    margin-top: 24px;
    cursor: pointer;
    color: #0071dc;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.46;
}

//Modal common

body.active-modal {
    overflow-y: hidden;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

//modal

.wrap-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.offscreen {
    display: none;
}

.instructions {
    color: red;
    font-size: 1.2rem;
    text-align: left;
    padding: 8px 4px;
    font-style: italic;
}
