html.dark {
    --logo-color: #77dae6;
    --primary-color: #ffb700;
    --text-color: #fff;

    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(3507%) hue-rotate(46deg) brightness(109%)
        contrast(87%);

    --height-header: 80px;
    --body-bg-color: #292e39;
    --header-bg-color: #171c28;
    --footer-bg-color: var(--header-bg-color);
    --footer-text-color: #6e6d74;
    --top-action-bg-color: #292e39;
    --top-action-group-shadow: rgba(0, 0, 0, 0.2);
    --top-action-group-separeate: #ededf6;

    //.drop-down
    --drop-down-bg-color: #2f3441;
    --drop-down-shadow-color: rgba(23, 28, 40, 0.4);
    --drop-down-arrow-color: brightness(0) saturate(100%) invert(19%) sepia(30%) saturate(346%) hue-rotate(185deg)
        brightness(96%) contrast(96%);
    --top-menu--border-color: #171c28;

    --bg-navbar-tablet: #292e39;
    --side-bar-shadow-color: rgba(23, 28, 40, 0.4);
    --auth-content-bg-color: #292e39;
    --auth-intro-bg-color: #171c28;
    --auth-border-color: #b9babe;
    --auth-label-color: #b9babe;
    --text-signin-gmail-color: var(--auth-label-color);

    --intro-border-color: #282c30;
    --into-feature-component-bg-color: #3d4955;

    --category-bg-color: #171c28;
    --cate-bg-color: var(--category-bg-color);
    --date-publish-color: #c2b4b4;

    --event-bg-color: var(--into-feature-component-bg-color);
    --event-text-color: #c2c0c0;
    --event-sadow-color: rgba(0, 0, 0, 0.2);

    --popper-bg-color: #505a64;
    --menu-item-hover-color: #384149;
    --menu-separate: #2f3441;
}
