// Breakpoints, dimension, container, row, column, v.v
$grid-breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

@mixin breakpoint($key) {
    $breakpoint: map-get(
        $map: $grid-breakpoints,
        $key: $key,
    );

    @if ($breakpoint) {
        @media (max-width: ($breakpoint - 0.02)) {
            @content;
        }
    } @else {
        @error "The value #{$key} is not in breakpoint!";
    }
}
// end

html {
    --logo-color: #77dae6;
    --primary-color: #ffb700;
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(20%) saturate(1953%) hue-rotate(210deg) brightness(90%)
        contrast(96%);

    --height-header: 80px;
    --body-bg-color: #f6f6f6;
    --header-bg-color: #eee;
    --footer-bg-color: var(--header-bg-color);
    --footer-text-color: #6e6d74;
    --top-action-bg-color: #fff;
    --top-action-group-shadow: rgba(237, 237, 246, 0.2);
    --top-action-group-separeate: #ededf6;

    @include breakpoint(lg) {
        --header-bg-color: #fff;
    }

    //.drop-down
    --drop-down-bg-color: #fff;
    --drop-down-shadow-color: rgba(200, 200, 200, 0.4);
    --top-menu--border-color: #d2d1d6;

    --bg-navbar-tablet: #fff;
    --side-bar-shadow-color: rgba(200, 200, 200, 0.4);

    --auth-content-bg-color: #fff;
    --auth-intro-bg-color: #f6f6f6;

    --auth-border-color: #d2d1d6;
    --auth-label-color: #9e9da8;

    --text-signin-gmail-color: var(--text-color);

    --intro-border-color: var(--auth-border-color);
    --into-feature-component-bg-color: #fff;

    --category-bg-color: #eee;
    --cate-bg-color: #ededf6;
    --date-publish-color: #9e9da8;

    --event-bg-color: #fff;
    --event-text-color: #717171;
    --event-sadow-color: rgba(0, 0, 0, 0.12);

    --popper-bg-color: #fff;
    --menu-item-hover-color: rgba(22, 24, 35, 0.03);
    --menu-separate: rgba(22, 24, 35, 0.2);

    --bg-modal-menu: #fff;

    --bg-profile: #fff;
    --box-shadow-profile: rgba(237, 237, 246, 0.2);

    --card-color: #d2d1d6;
    --info-heading-color: #1a162e;
    --info-bg-color: #f6f6f6;

    --info-item-bg-color: #fff;
    --product-border-color: #d2d1d6;

    --border-input-color: #d2d1d6;

    --text-btn-color: #1a162e;

    --action-span-bg-active-color: #f6f6f6;
    --boder-bmi-color: rgb(208, 215, 222);
    --header-suggest-heading-color: #010101;

    --select-hover-bg-color: #e1e1e3;
    --select-bg-color: #f6f6f6;

    --sumary-bg-color: #fff;

    --cart-bg-color: #fff;
    --text-cart-color: #1a162e;
    --wrap-icon-bg-color: linear-gradient(0deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), #7644e1;
    --wrap-icon-box-shadow: rgba(237, 237, 246, 0.2);
    --bg-cart-box-shadow: rgba(237, 237, 246, 0.2);

    --cart-popper-text-color: #1a162e;
    --cart-popper-border-color: #d2d1d6;
}
