// Breakpoints, dimension, container, row, column, v.v
$grid-breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

@mixin breakpoint($key) {
    $breakpoint: map-get(
        $map: $grid-breakpoints,
        $key: $key,
    );

    @if ($breakpoint) {
        @media (max-width: ($breakpoint - 0.02)) {
            @content;
        }
    } @else {
        @error "The value #{$key} is not in breakpoint!";
    }
}
// end

html {
    --primary-color: #5d3bee;
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(20%) saturate(1953%) hue-rotate(210deg) brightness(90%)
        contrast(96%);

    --height-header: 80px;
    --body-bg-color: #f6f6f6;
    --header-bg-color: #eee;
    --top-action-bg-color: #fff;
    --top-action-group-shadow: rgba(237, 237, 246, 0.2);
    --top-action-group-separeate: #ededf6;

    @include breakpoint(lg) {
        --header-bg-color: #fff;
    }

    //.drop-down
    --drop-down-bg-color: #fff;
    --drop-down-shadow-color: rgba(200, 200, 200, 0.4);
    --top-menu--border-color: #d2d1d6;

    --bg-navbar-tablet: #fff;
    --side-bar-shadow-color: rgba(200, 200, 200, 0.4);
}
