.wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
}

.carousel-categories {
    position: relative;
    z-index: 0;
    h3 {
        margin-bottom: 20px;
        color: var(--text-cart-color);
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.4;
        font-family: 'Inter', sans-serif;
    }
}

.filter-products {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    h3 {
        font-family: 'Inter', sans-serif;
        color: var(--text-cart-color);
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.4;
    }

    button {
        user-select: none;
        font-family: 'Inter', sans-serif;
        display: flex;
        align-items: center;
        gap: 14px;
        border-radius: 6px;
        background-color: var(--button-filter-bg-color);
        color: var(--button-filter-text-color);
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.4;
        cursor: pointer;
        padding: 6px 12px;
    }
}

.list-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}

.wrap-product {
    border-radius: 20px;
    background: var(--product-item-bg-color);
    box-shadow: 0px 20px 60px 10px var(--product-item-box-shadow);
    .thumb {
        width: 100%;
        height: 280px;
        position: relative;
        .thumb-img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            cursor: pointer;
        }

        div {
            position: absolute;
            right: 17px;
            bottom: 20px;
            border-radius: 50%;
            width: 46px;
            height: 46px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: var(--product-save-bg-color);
            box-shadow: 0px 20px 60px var(--product-save-box-shadpw);

            img {
                margin-left: auto;
                margin-right: auto;
            }

            .saved {
                margin-top: 9px;
            }
        }
    }

    .name-product {
        margin-top: 12px;
        padding: 0 16px;
        color: var(--product-text-color);
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        cursor: pointer;
    }

    .brand {
        padding: 10px 16px;
        color: #9e9da8;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.46;
    }

    .row {
        padding: 0 16px 16px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Inter', sans-serif;

        span:nth-child(1),
        span:nth-child(2) {
            color: var(--product-text-color);
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.5;
        }

        span:nth-child(2) {
            display: flex;
            align-items: center;
            gap: 8px;

            img {
                width: 15px;
            }
        }
    }
}

.filter-wrap {
    position: relative;
}

.filter {
    background-color: var(--filter-bg-color);
    border-radius: 20px;
    filter: drop-shadow(0px 40px 90px var(--filter-box-shadow));
    z-index: 1;
    position: absolute;
    right: 0;
    top: 50px;
    padding: 30px;
}

.filter.none {
    display: none;
}

.filter-heading {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.45;
    color: var(--filter-heading-color) !important;
}

.filter-form {
    margin-top: 20px;
}

.filter-row {
    display: flex;
}

.filter-form-label {
    user-select: none;
    display: block;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
}

.filter-form-slider {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #d2d1d6;
    margin-bottom: 24px;

    &::before,
    &::after {
        top: 50%;
        translate: 0 -50%;
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 6px solid var(--primary-color);

        background-color: var(--filter-separate-bg-color);
    }

    &::before {
        left: var(--min-value);
    }

    &::after {
        left: var(--max-value);
    }
}

.filter-form-group {
    margin-top: 20px;
}

.filter-form-input {
    border-radius: 6px;
    border: 1px solid #d2d1d6;
    height: 36px;
    width: 120px;
    padding: 0 12px;
    color: var(--filter-heading-color);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.43;
}

.filter-form-group.hornizonal {
    display: flex;
    align-items: center;
    gap: 30px;
}
.filter-form-label.small {
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4;
}

.filter-separate {
    width: 1px;
    background-color: #eee;
    margin: 0 30px;
}

.filter-select-wrap {
    border-radius: 6px;
    border: 1px solid #d2d1d6;
    display: flex;
    align-items: center;
    height: 45px;
}

.filter-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100% - 12px);
    padding: 0 14px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.43;

    img {
        width: 15px;
    }
}

.filter-select:nth-child(1) {
    min-width: 158px;
    border-right: 1px solid #d2d1d6;
}

.filter-select:nth-child(2) {
    min-width: 110px;
}

.filter-form-tags {
    display: flex;
    align-items: center;
    gap: 20px;

    .filter-form-tag {
        padding: 6px 12px;
        border-radius: 6px;
        background-color: var(--filter-tag-bg-color);
        transition: color 0.5s;

        &:hover {
            color: var(--text-color);
        }
    }
}

.filter-form-text {
    width: 334px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    border: 1px solid #d2d1d6;
    padding: 0 16px;

    input {
        width: 100%;
    }
}

.btn-group {
    display: flex;
    gap: 20px;

    button:nth-child(1) {
        cursor: pointer;
        margin-left: auto;
    }

    button:nth-child(2) {
        background-color: var(--primary-color);
        color: #1a162e;
    }
}

.filter-arrow {
    height: 20.5px;
    position: absolute;
    top: -11px;
    right: 22px;

    filter: var(--filter-arrow-up);
}
