.wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
}

.filter-products {
    margin-top: 40px;
    margin-bottom: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    h3 {
        font-family: 'Inter', sans-serif;
        color: var(--text-cart-color);
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.4;
    }

    button {
        user-select: none;
        font-family: 'Inter', sans-serif;
        display: flex;
        align-items: center;
        gap: 14px;
        border-radius: 6px;
        background-color: var(--button-filter-bg-color);
        color: var(--button-filter-text-color);
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.4;
        cursor: pointer;
        padding: 6px 12px;
    }
}

.list-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}

.wrap-product {
    border-radius: 20px;
    background: var(--product-item-bg-color);
    box-shadow: 0px 20px 60px 10px var(--product-item-box-shadow);
    .thumb {
        width: 100%;
        height: 280px;
        position: relative;

        &:hover {
            div {
                opacity: 1;
                visibility: visible;
            }
        }
        .thumb-img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
            cursor: pointer;
        }

        div {
            position: absolute;
            right: 17px;
            bottom: 20px;
            border-radius: 50%;
            width: 46px;
            height: 46px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: var(--product-save-bg-color);
            box-shadow: 0px 20px 60px var(--product-save-box-shadpw);

            opacity: 0;
            visibility: hidden;
            transition: opacity, visibility;
            transition-duration: 0.3s;

            img {
                margin-left: auto;
                margin-right: auto;
            }

            .saved {
                margin-top: 9px;
            }
        }
    }

    .name-product {
        margin-top: 12px;
        padding: 0 16px;
        color: var(--product-text-color);
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        cursor: pointer;
    }

    .brand {
        padding: 4px 16px;
        color: #9e9da8;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.46;
    }

    .row {
        padding: 0 16px 16px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Inter', sans-serif;

        span:nth-child(1),
        span:nth-child(2) {
            color: var(--product-text-color);
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.5;
        }

        span:nth-child(2) {
            display: flex;
            align-items: center;
            gap: 8px;

            img {
                width: 15px;
            }
        }
    }
}

.filter-wrap {
    position: relative;
}

.filter {
    background-color: var(--filter-bg-color);
    border-radius: 20px;
    filter: drop-shadow(0px 40px 90px var(--filter-box-shadow));
    z-index: 1;
    position: absolute;
    right: 0;
    top: 50px;
    padding: 30px;

    opacity: 1;
    visibility: visible;
    transform: opacity, visibility;
    transition-duration: 0.6s;
}

.filter.none {
    // display: none;

    opacity: 0;
    visibility: hidden;
}

.filter-heading {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.45;
    color: var(--filter-heading-color) !important;
}

.filter-form {
    margin-top: 20px;
}

.filter-row {
    display: flex;
}

.filter-form-label {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
}

.filter-form-slider {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #d2d1d6;
    margin-bottom: 24px;

    &::before,
    &::after {
        top: 50%;
        translate: 0 -50%;
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 6px solid var(--primary-color);
        background-color: var(--filter-separate-bg-color);
    }

    &::before {
        left: var(--min-value);
    }

    &::after {
        left: var(--max-value);
    }
}

.filter-form-group {
    margin-top: 20px;
}

.filter-form-input {
    border-radius: 6px;
    border: 1px solid #d2d1d6;
    height: 36px;
    width: 120px;
    padding: 0 12px;
    color: var(--filter-heading-color);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.43;
}

.filter-form-group.hornizonal {
    display: flex;
    align-items: center;
    gap: 30px;
}
.filter-form-label.small {
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4;
}

.filter-separate {
    width: 1px;
    background-color: #eee;
    margin: 0 30px;
}

.filter-select-wrap {
    border-radius: 6px;
    border: 1px solid #d2d1d6;
    display: flex;
    align-items: center;
    height: 45px;
}

.filter-select {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
    height: calc(100% - 12px);
    padding: 0 14px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.43;

    img {
        width: 12px;
        transition: rotate 0.5s;
        user-select: none;
    }
}

.filter-select:nth-child(1) {
    min-width: 180px;
    border-right: 1px solid #d2d1d6;
}

.filter-select:nth-child(2) {
    min-width: 140px;
}

.filter-form-tags {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    gap: 20px;

    .filter-form-tag {
        flex-shrink: 0;
        padding: 6px 12px;
        border-radius: 6px;
        background-color: var(--filter-tag-bg-color);
        transition: color 0.5s;

        &:hover {
            color: var(--text-color);
        }
    }
}

.filter-form-text {
    width: 334px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    border: 1px solid #d2d1d6;
    padding: 0 16px;

    input {
        width: 100%;
    }
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 20px;

    span {
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: 500;
    }

    button:nth-child(2) {
        background-color: var(--primary-color);
        color: #1a162e;
    }
}

.filter-arrow {
    height: 20.5px;
    position: absolute;
    top: -11px;
    right: 22px;

    filter: var(--filter-arrow-up);
}

// SELECT OPTIONS
.filter-select.select-quantities {
    position: relative;

    .wrap-options {
        position: absolute;
        background-color: var(--bg-select-option-color);
        left: 0;
        top: calc(100% + 6px);
        width: calc(100% - 12px);
        box-shadow: 0px 20px 60px var(--select-option-box-shadow);
        border-radius: 4px;
        z-index: 2;
    }

    .wrap-options.none {
        display: none;
    }

    .option {
        padding: 8px 10px;
        cursor: pointer;
        transition: background-color 0.6s;

        &:hover {
            background-color: #d2d2d269;
        }
    }

    .option.active {
        background-color: #e6ebf1;
    }
}

.filter-select.select-units {
    position: relative;

    .wrap-options {
        border-radius: 4px;
        position: absolute;
        background-color: var(--bg-select-option-color);
        left: 0;
        top: calc(100% + 6px);
        width: 100%;
        box-shadow: 0px 20px 60px var(--select-option-box-shadow);
        z-index: 2;
    }
    .wrap-options.none {
        display: none;
    }

    .option {
        padding: 8px 10px;
        cursor: pointer;
        transition: background-color 0.6s;

        &:hover {
            background-color: #d2d2d269;
        }
    }
    .option.active {
        background-color: #e6ebf1;
    }
}

.filter-suggest {
    margin-bottom: 30px;
    padding: 12px 20px;
    border-radius: 10px;
    background: var(--filter-suggest-bg-color);
    box-shadow: 0px 20px 60px 10px var(--filter-suggest-box-shadow);

    header {
        display: flex;
        align-items: center;
        gap: 20px;

        h3 {
            font-family: 'Inter', sans-serif;
            color: #9e9da8;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 0.5;
        }

        img {
            width: 8px;
        }

        h3.active {
            color: var(--text-color);
        }
    }
}

.suggest-list {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    border-bottom: 1px solid var(--filter-suggest--border-color);
    img {
        filter: var(--filer-icon-color);
    }

    .suggest-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 6px 14px;
        border-radius: 20px;
        background: var(--filter-suggest-item-bg-color);

        span {
            color: var(--filter-suggest-item-text-color);
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.43;
        }
    }
}

.recomend-item {
    padding-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    img {
        filter: var(--filer-icon-color);
    }

    .suggest-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 6px 10px;
        border-radius: 4px;
        border: 2px solid var(--filter-suggest-item-bg-color);

        span {
            color: var(--filter-suggest-item-text-color);
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.43;
        }
    }

    button {
        margin-left: auto;
        color: var(--filter-suggest-item-text-color);
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.43;
    }
}

.icon-rotate {
    rotate: 180deg;
}
.filter-select-wrap-bread {
    position: relative;

    .wrap-list {
        min-width: 224px;
        max-height: 300px;
        overflow-y: scroll;
        position: absolute;
        top: 36px;
        left: 0;
        //width: 100%;
        z-index: 1;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 3px 5px #9d929280;

        opacity: 1;
        visibility: visible;

        transition: opacity, visibility;
        transition-duration: 0.5s;

        .popper-list {
            width: 100%;
            padding: 6px;
            font-family: 'Inter', sans-serif;
        }

        .popper-item {
            width: 100%;
            border-radius: 6px;
            transition: background-color 0.3s;
            cursor: pointer;

            &:hover {
                background-color: #f1f1f1;

                span {
                    color: #17171a;
                }
            }

            span {
                display: block;
                padding: 6px 6px;
                min-width: 96px;
                font-size: 1.4rem;
                font-weight: 500;
                color: #7d7c85;
            }

            + .popper-item {
                margin-top: 4px;
            }
        }
        .popper-item.active {
            background-color: #e6ebf1;
            span {
                color: #17171a;
            }
        }
    }

    .wrap-list.none {
        opacity: 0;
        visibility: hidden;
    }
    .main {
        min-width: 224px;
        display: flex;
        align-items: center;
        gap: 6px;
        justify-content: space-between;
        font-family: 'Inter', sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        background-color: #f8f7f4;
        padding: 8px 16px;
        cursor: pointer;
        border-radius: 22px;
        transition: color 0.4s;

        img {
            width: 13px;
            transition: rotate 0.4s;
        }

        img.icon-rotate {
            rotate: 180deg;
        }
    }

    .main.text {
        padding: 0 14px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: break-all;
        line-height: 35px;
        color: #0d0c22;
        border-radius: 22px;
        font-weight: 600;

        border: none;

        transition: color, background-color;
        transition-duration: 0.3s;
        &.active {
            background-color: #f8f7f4;
            color: #0d0c22;
            font-weight: 600;
        }

        &:hover {
            color: #585353;
        }
    }
    .main.timeframe {
        width: 160px;
    }

    .main.action {
        color: #0075ff;

        img {
            filter: brightness(0) saturate(100%) invert(47%) sepia(99%) saturate(6037%) hue-rotate(205deg)
                brightness(106%) contrast(103%);
        }
    }
}

.btn-load-more {
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    height: 36px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 26px;
    background: #ebe9e9;
    color: #010101;
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4;
    cursor: pointer;
    padding: 0 16px;
    transition: background-color 0.3s;

    &:hover {
        background-color: #e1e1e1;
    }

    img.spinner-icon {
        width: 14px;
        animation: spinner infinite 1.4s;
    }
}

@keyframes spinner {
    from {
        rotate: 0;
    }
    to {
        rotate: 180deg;
    }
}
