.wrapper {
    padding-bottom: 50px;
    background-color: #fff;
}

.search-bar {
    position: relative;
    .background-bar {
        width: 100%;
        height: 80px;
        background: linear-gradient(66deg, #e6fbfe 0%, #edddfb 100%);
    }
}
.search-result-details {
    position: absolute;
    bottom: -78px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 24px;

    .result {
        visibility: hidden;
        opacity: 0;

        transition: opacity, visibility;
        transition-duration: 0.3s;
    }
    .result.show {
        visibility: visible;
        opacity: 1;
    }
}

.form-search form {
    height: 58px;
    width: 628px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 3px 5px #9d929280;
    button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        cursor: pointer;

        padding-left: 16px;
        padding-right: 16px;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
    }

    input {
        font-family: 'Inter', sans-serif;
        width: 100%;
        height: 100%;
        padding: 0 12px;
        color: #585353;
        font-size: 1.7rem;
        font-weight: 500;
    }

    input:not(:placeholder-shown) ~ .close-icon {
        visibility: visible;
        opacity: 1;
    }

    .close-icon {
        width: 14px;
        margin-right: 16px;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        transition: opacity, visibility;
        transition-duration: 0.3s;
    }
}

.text-alert {
    font-family: 'Inter', sans-serif;
    color: #6e6d7a;
    //  color: #62615c;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.5;
}

.filter-group {
    padding-top: 100px;
    padding-left: 64px;
    padding-right: 64px;

    background-color: #fff;
}

.icon-small {
    width: 18px;
}
.row-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .filter-center {
        display: flex;
        align-items: center;
    }
}

.filter-select-wrap {
    position: relative;

    .wrap-list {
        min-width: 100px;
        position: absolute;
        top: 36px;
        left: 0;
        //width: 100%;
        z-index: 1;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 3px 5px #9d929280;

        opacity: 1;
        visibility: visible;

        transition: opacity, visibility;
        transition-duration: 0.5s;

        .popper-list {
            width: 100%;
            padding: 6px;
            font-family: 'Inter', sans-serif;
        }

        .popper-item {
            width: 100%;
            border-radius: 6px;
            transition: background-color 0.3s;
            cursor: pointer;

            &:hover {
                background-color: #f1f1f1;

                span {
                    color: #17171a;
                }
            }

            span {
                display: block;
                padding: 6px 6px;
                min-width: 96px;
                font-size: 1.4rem;
                font-weight: 500;
                color: #7d7c85;
            }

            + .popper-item {
                margin-top: 4px;
            }
        }
        .popper-item.active {
            background-color: #e6ebf1;
            span {
                color: #17171a;
            }
        }
    }

    .wrap-list.timeframe {
        width: 160px;
    }

    .wrap-list.none {
        opacity: 0;
        visibility: hidden;
    }
    .main {
        min-width: 100px;
        max-width: 320px;
        display: flex;
        align-items: center;
        gap: 6px;
        justify-content: space-between;
        font-family: 'Inter', sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        border: 1px solid #d0d7de;
        padding: 8px 8px;
        cursor: pointer;
        border-radius: 6px;
        transition: color 0.4s;

        img {
            width: 13px;
            transition: rotate 0.4s;
        }

        img.icon-rotate {
            rotate: 180deg;
        }
    }

    .main.text {
        padding: 0 14px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: break-all;
        line-height: 35px;
        color: #0d0c22;
        border-radius: 22px;
        font-weight: 600;

        border: none;

        transition: color, background-color;
        transition-duration: 0.3s;
        &.active {
            background-color: #f8f7f4;
            color: #0d0c22;
            font-weight: 600;
        }

        &:hover {
            color: #585353;
        }
    }
    .main.timeframe {
        width: 160px;
    }

    .main.action {
        color: #0075ff;

        img {
            filter: brightness(0) saturate(100%) invert(47%) sepia(99%) saturate(6037%) hue-rotate(205deg)
                brightness(106%) contrast(103%);
        }
    }
}

.spinner-icon {
    margin-right: 12px;
    animation: spinner 1s infinite;
}

.list-campaign {
    padding-top: 32px;
    background-color: #fff;

    .wrap-campaign-by-type {
        .head {
            h4 {
                font-family: 'Inter', sans-serif;
                font-size: 2.1rem;
                font-weight: 600;
                line-height: 1.5;
            }
        }

        + .wrap-campaign-by-type {
            margin-top: 24px;
        }
    }
}

.grid-campaigns {
    margin: 16px 0;
    display: grid;
    grid-gap: 36px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

.thumbnail-base {
    figure {
        width: 100%;
        height: 270px;
        display: block;
        position: relative;

        &:hover {
            .actions {
                visibility: visible;
                opacity: 1;

                button {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        .actions {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            bottom: 0;
            background-color: #837c7c42;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            visibility: hidden;
            opacity: 0;

            visibility: background-color, visibility, opacity;
            transition-duration: 0.3s;

            button {
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                margin-right: 12px;
                margin-bottom: 12px;
                cursor: pointer;
                visibility: hidden;
                opacity: 0;

                transition: visibility, opacity;
                transition-duration: 0.3s;
            }
        }
    }

    img.thumb {
        width: 100%;
        height: 100%;
        border-radius: inherit;
        object-fit: cover;
    }
}

.camp-desc {
    font-family: 'Inter', sans-serif;
    margin-top: 10px;

    .camp-name {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: break-all;
        font-size: 1.7rem;
        font-weight: 500;
        letter-spacing: 0.6px;
        cursor: pointer;

        transition: color 0.3s;

        &:hover {
            color: #b07219;
        }
    }

    .camp-schedule {
        font-size: 1.3rem;
        margin-top: 6px;
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 500;

        .separate {
            width: 4px;
            height: 4px;
            background-color: #585353;
            border-radius: 50%;
        }

        .status-new {
            margin-left: auto;
            font-size: 1.2rem;
            color: #0075ff;
        }
    }
    .camp-objective {
        margin-top: 16px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: break-all;
        font-size: 1.4rem;
    }

    .camp-read-more {
        margin-top: 6px;
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;
        font-weight: 500;

        img {
            margin-top: 3px;
            filter: brightness(0) saturate(100%) invert(69%) sepia(0%) saturate(4878%) hue-rotate(2deg) brightness(87%)
                contrast(84%);
        }
    }
}

@keyframes spinner {
    from {
        rotate: 0;
    }
    to {
        rotate: 180deg;
    }
}

@keyframes run {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
