.wrapper {
    background-color: #fff;
    padding-bottom: 40px;
}

.inner-container {
    display: flex;

    .larger {
        flex: 1;
    }

    .smaller {
        width: 600px;
        padding: 24px;
        .inner-smaller {
            .camp-name {
                margin-top: 12px;

                color: #010101;

                font-size: 40px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            .camp-schedule {
                font-family: 'Inter', sans-serif;
                font-size: 1.5rem;
                margin-top: 10px;
                display: flex;
                align-items: center;
                gap: 8px;
                font-weight: 600;

                .camp-separate {
                    display: block;
                    width: 5px;
                    height: 5px;
                    background-color: #585353;
                    border-radius: 50%;
                }

                .status-new {
                    font-family: 'Inter', sans-serif;
                    margin-left: auto;
                    font-size: 1.2rem;
                    color: #0075ff;
                }
            }
            .camp-objective {
                font-family: 'Inter', sans-serif;
                margin-top: 16px;
                font-size: 1.5rem;
                font-weight: 500;
                color: #585353;
                line-height: 1.5;
            }

            .separate {
                margin-top: 24px;
                width: 100%;
                height: 1px;
                background-color: #e9e9e9;
            }
        }
    }
}
.stats-amount {
    margin-top: 24px;
    .goal {
        width: 100%;
        //  background-color: #0075ff;
        position: relative;
        height: 120px;

        .scroll {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 16px;
            background-color: #e8e8e8;
            border-radius: 12px;
        }

        .scroll-value {
            z-index: 5;
            position: absolute;
            display: block;
            left: 0;
            bottom: 0;
            height: 16px;
            background-color: #333;
            border-radius: 12px;
        }

        .alert {
            // min-width: 110px;
            font-family: 'Inter', sans-serif;
            font-size: 1.4rem;
            position: absolute;
            bottom: 50px;
            background-color: #333;
            color: hsl(0, 0%, 100%);
            padding: 12px 16px;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;

            // transform: translateX(-50%);

            &::after {
                content: '';
                width: 20px;
                height: 12px;
                background-color: #333;
                position: absolute;
                left: 45%;
                bottom: -10px;
                transform: translateX(-50%);
                rotate: 45deg;
            }
        }
    }
    .desc-goal {
        margin-top: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            font-family: 'Inter', sans-serif;
            font-size: 1.4rem;
            color: #bcbdbf;
            font-weight: 500;
        }
    }
}

.stats-details {
    margin-top: 24px;
    display: flex;
    align-items: center;
    gap: 32px;

    .item-details {
        p {
            font-family: 'Inter', sans-serif;
            font-size: 1.8rem;
            color: #333;
            font-weight: 600;
            line-height: 1.5;
        }

        span {
            font-family: 'Inter', sans-serif;
            font-size: 1.4rem;
            color: #bcbdbf;
            font-weight: 500;
        }
    }

    .item-details:nth-child(2) {
        margin-left: auto;
    }
    .item-details:nth-child(3) {
        p {
            text-align: right;
        }
    }
}

.group-btns {
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 24px;

    button {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        font-weight: 500;
        gap: 12px;
        cursor: pointer;
        height: 40px;
        border-radius: 6px;
    }

    button:nth-child(1) {
        background-color: #333;
        color: #fff;
    }

    button:nth-child(2) {
        border: 1px solid #bcbdbf;
    }
}

.list-supporters {
    margin-top: 12px;

    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .title {
        color: #000;
        font-family: 'Inter', sans-serif;
        font-size: 2rem;

        font-weight: 500;
        line-height: 1.41;
        letter-spacing: -0.34px;
    }

    .count {
        font-family: 'Inter', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: rgba(55, 53, 47, 0.65);
        font-size: 1.3rem;

        .count-value {
            color: rgb(55, 53, 47);
            fill: currentcolor;
            line-height: 1.5;
        }
    }

    .item-donate {
        padding: 20px 0;
        display: flex;
        gap: 16px;

        .wrap-avatar {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #f1f0ef;

            // background-color: #d4e6fa;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }

            span.anonymous {
                font-weight: 500;
                color: #a5a5a3;
            }
        }

        .group {
            display: flex;
            align-items: center;
            gap: 6px;
            margin-bottom: 14px;
            color: #717171;
            font-family: 'Inter', sans-serif;
            font-size: 1.5rem;

            font-weight: 400;
            line-height: 1.45;
            letter-spacing: -0.15px;

            .group-separate {
                display: inline-block;
                width: 5px;
                height: 5px;
                background-color: #585353;
                border-radius: 50%;
            }
        }

        .name {
            color: #010101;
            font-family: 'Inter', sans-serif;
            font-size: 1.5rem;

            font-weight: 600;
            line-height: 22px;
            letter-spacing: -0.15px;
        }

        .message {
            width: 400px;
            color: #4d4d4e;
            font-family: 'Inter', sans-serif;
            font-size: 1.3rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.3;
            letter-spacing: -0.13px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            word-break: break-all;
        }

        .amount {
            margin-top: 8px;
            font-size: 1.8rem;
        }

        + .item-donate {
            border-top: 1px solid #e9e9e9;
        }
    }
}
.btn-show-more {
    cursor: pointer;
    font-weight: 500;
    color: #0075ff;
    display: flex;
    align-items: center;
    gap: 6px;

    img {
        width: 12px;
        animation: spinner infinite 1.4s;
    }

    &:hover {
        text-decoration: underline;
    }
}

.content-camp {
    padding-top: 24px;
    .thumb {
        width: 750px;
        height: 500px;
        object-fit: cover;
    }

    .bread {
        padding-top: 16px;
        overflow: hidden;
        .list-bread {
            padding: 0 16px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #dadada;
        }

        .bread-item {
            margin-bottom: -2px;
            border-bottom: none;
            padding: 8px 16px;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;

            span {
                font-family: 'Inter', sans-serif;
                font-size: 1.5rem;
            }

            &:hover {
                background-color: #f3f3f3;
            }
        }
    }

    .bread-item.active {
        margin-bottom: -2px;
        position: relative;
        background-color: #fff;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        border-top: 1px solid #dadada;
        border-left: 1px solid #dadada;
        border-right: 1px solid #dadada;

        span {
            font-family: 'Inter', sans-serif;
            color: #333;
            font-weight: 500;
        }
    }

    .content {
        padding: 12px;
    }
}

.inner-content.timeline-budget {
    font-family: 'Inter', sans-serif;

    .head {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 8px;
        .title {
            font-family: 'Inter', sans-serif;
            font-size: 1.7rem;
            font-weight: 500;
            line-height: 1.5;
            color: #333;
        }
        .icon-small {
            width: 20px;
        }
    }

    .description {
        p.desc {
            font-family: 'Inter', sans-serif;
            width: 500px;
            font-size: 1.5rem;
            font-weight: 500;

            + p.desc {
                margin-top: 12px;
            }
        }
    }

    .wrap-timeline {
        margin-top: 24px;

        .group-activity {
            display: flex;
            gap: 24px;
            .decoration {
                display: flex;
                flex-direction: column;

                align-items: center;
                .line-column {
                    width: 2px;
                    height: 100%;
                    background-color: #d8dee4;
                }

                img {
                    filter: brightness(0) saturate(100%) invert(58%) sepia(51%) saturate(322%) hue-rotate(221deg)
                        brightness(95%) contrast(86%);
                }
            }

            .activities {
                margin-bottom: 20px;
                flex: 1;

                position: relative;
            }

            .schedule {
                margin-bottom: 8px;
                display: flex;
                align-items: center;
                gap: 12px;
                // justify-content: space-between;

                span {
                    color: #010101;
                    font-family: 'Inter', sans-serif;
                    font-size: 1.7rem;

                    font-weight: 600;
                    line-height: 22px;
                    letter-spacing: -0.15px;
                }

                .inline {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
            }

            .activity-item {
                display: flex;
                justify-content: space-between;
            }

            .activity-item div:nth-child(1) {
                p {
                    width: 80%;
                    font-family: 'Inter', sans-serif;
                    font-size: 1.4rem;

                    font-size: 1.4rem;
                    font-weight: 500;
                    color: #898a99;
                }
            }

            + .group-activity {
                margin-top: 3px;
            }
        }
    }
}

.inner-content.update {
    padding-top: 12px;
    .wrap-updates {
        .update-item {
            .update-sequense {
                margin-bottom: 6px;
                display: flex;
                align-items: center;
                gap: 8px;

                color: #717171;
                font-family: 'Inter', sans-serif;
                font-size: 1.4rem;

                font-weight: 400;
                line-height: 1.45;
                letter-spacing: -0.15px;

                .tag {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 22px;
                    padding: 0 10px;
                    color: #0166ff;
                    font-family: 'Inter', sans-serif;
                    font-size: 1.3rem;
                    font-weight: 500;
                    line-height: 1.4;
                    border-radius: 20px;
                    background: rgba(1, 102, 255, 0.1);
                }
            }

            .title-update {
                font-family: 'Inter', sans-serif;
                color: #010101;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.5;
            }

            .update-creator {
                display: flex;
                align-items: center;
                gap: 8px;
                color: #6c6c6c;
                font-family: 'Inter', sans-serif;
                font-size: 1.4rem;

                font-weight: 500;
                line-height: 1.7;
                .update-separate {
                    width: 6px;
                    height: 6px;
                    background-color: #6c6c6c;
                    border-radius: 50%;
                }
            }

            .update-label {
                justify-content: center;
                height: 60px;
                display: flex;
                flex-direction: column;

                .div-1 {
                    width: 75%;
                    height: 6px;
                    border-radius: 10px;
                    opacity: 0.08;
                    background: #000958;
                    margin-bottom: 12px;
                }

                .div-2 {
                    width: 30%;
                    height: 6px;
                    border-radius: 10px;
                    opacity: 0.08;
                    background: #000958;
                }
            }

            + .update-item {
                padding-top: 12px;
                margin-top: 24px;
            }

            .message {
                border: 1px solid #ddd;
                padding: 4px 6px;
                border-radius: 6px;
                width: fit-content;
                display: flex;
                align-items: center;
                gap: 6px;
                color: #000;
                font-family: 'Inter', sans-serif;
                font-size: 1.4rem;

                font-weight: 400;
                line-height: 1.5;

                img {
                    width: 9px;
                    filter: brightness(0) saturate(100%) invert(28%) sepia(99%) saturate(3400%) hue-rotate(210deg)
                        brightness(99%) contrast(111%);
                }
            }
        }
    }
}

.inner-content.community {
    .message {
        border: 1px solid #ddd;
        padding: 4px 6px;
        border-radius: 6px;
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 6px;
        color: #000;
        font-family: 'Inter', sans-serif;
        font-size: 1.4rem;

        font-weight: 400;
        line-height: 1.5;

        img {
            width: 9px;
            filter: brightness(0) saturate(100%) invert(28%) sepia(99%) saturate(3400%) hue-rotate(210deg)
                brightness(99%) contrast(111%);
        }
    }
}

// FORM
.form-row {
    display: flex;
    align-items: flex-start;
    gap: 24px;

    visibility: visible;
    opacity: 1;

    transition: visibility, opacity, height, margin;
    transition-duration: 0.3s;

    .form-group {
        flex: 1;
    }

    .form-label {
        margin-bottom: 8px;
        label {
            font-family: 'Inter', sans-serif;
            color: #333;
            font-size: 1.5rem;
            font-weight: 500;
        }
    }

    .form-control {
        height: 36px;
        width: 100%;
        border: 1px solid #d0d7de;
        border-radius: 10px;
    }

    .form-control.no-border {
        border: initial;
        border-radius: 0;
    }

    .form-control.inline {
        margin-top: -8px;
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .form-input {
        height: 100%;
        width: 100%;
        padding: 0 12px;
        font-size: 1.4rem;
        font-weight: 500;
        color: #7d7c85;
        font-family: 'Inter', sans-serif;

        &::placeholder {
            font-size: 1.4rem;
        }
    }
    .form-desc {
        font-family: 'Inter', sans-serif;
        font-size: 1.3rem;
        color: #626466;
        line-height: 1.4;
    }

    .form-desc.small {
        margin-top: 6px;
        font-size: 1.1rem;
        font-style: italic;
        color: #0969da;
    }

    .form-label.small label {
        font-size: 1.3rem;
        color: #776f6f;
    }

    + .form-row {
        margin-top: 8px;
    }
}

.form-row.pay {
    margin-top: 32px;
}
.form-row.margin-inital {
    margin: 0;
}
.form-row.none {
    visibility: hidden;
    opacity: 0;
    height: 0;
    margin-top: 0;

    + .form-row.none {
        margin-top: 0;
    }
}

.filter-select-wrap {
    position: relative;

    .wrap-list {
        min-width: 100px;
        position: absolute;
        top: 36px;
        left: 0;
        width: 100%;
        z-index: 1;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 3px 5px #9d929280;

        max-height: 200px;
        overflow-y: scroll;

        opacity: 1;
        visibility: visible;

        transition: opacity, visibility;
        transition-duration: 0.5s;

        .popper-list {
            width: 100%;
            padding: 6px;
            font-family: 'Inter', sans-serif;
        }

        .popper-item {
            width: 100%;
            border-radius: 6px;
            transition: background-color 0.3s;
            cursor: pointer;

            &:hover {
                background-color: #f1f1f1;

                span {
                    font-family: 'Inter', sans-serif;
                    color: #17171a;
                    font-weight: 500;
                }
            }

            span {
                font-family: 'Inter', sans-serif;
                display: block;
                padding: 8px 6px;
                min-width: 96px;
                font-size: 1.5rem;
                font-weight: 500;
                color: #7d7c85;
            }

            + .popper-item {
                margin-top: 4px;
            }
        }
        .popper-item.active {
            background-color: #e6ebf1;
            span {
                color: #17171a;
            }
        }
    }

    .wrap-list.none {
        opacity: 0;
        visibility: hidden;
    }
    .main {
        min-width: 100px;
        //  max-width: 320px;
        display: flex;
        align-items: center;
        gap: 6px;
        justify-content: space-between;
        font-family: 'Inter', sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        border: 1px solid #d0d7de;
        padding: 8px 8px;
        cursor: pointer;
        border-radius: 6px;
        transition: color 0.4s;

        img {
            width: 13px;
            transition: rotate 0.4s;
        }

        img.icon-rotate {
            rotate: 180deg;
        }
    }

    .main.text {
        padding: 0 14px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: break-all;
        line-height: 35px;
        color: #0d0c22;
        border-radius: 22px;
        font-weight: 600;

        border: none;

        transition: color, background-color;
        transition-duration: 0.3s;
        &.active {
            background-color: #f8f7f4;
            color: #0d0c22;
            font-weight: 600;
        }

        &:hover {
            color: #585353;
        }
    }
    .main.timeframe {
        width: 160px;
    }

    .main.action {
        color: #0075ff;

        img {
            filter: brightness(0) saturate(100%) invert(47%) sepia(99%) saturate(6037%) hue-rotate(205deg)
                brightness(106%) contrast(103%);
        }
    }
}

// POPPER DONATION

.popper-donation {
    position: fixed;
    z-index: 91;
    top: 50%;
    right: 50%;
    width: 596px;

    background-color: #fff;
    box-shadow: 0 3px 5px rgba(157, 146, 146, 0.5019607843);
    transform: translate(50%, -50%);

    border-radius: 3px;
    display: none;

    .wrap-content {
        padding: 32px;
        height: 100%;
    }

    .head-content {
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .name {
            flex: 1;
            .form-edit {
                display: flex;
                align-items: center;
                gap: 10px;

                .icon {
                    width: 18px;
                }

                .value {
                    font-family: 'Inter', sans-serif;
                    font-size: 2rem;
                    font-weight: 500;
                    color: #43433f;
                    flex: 1;
                }
            }
        }
    }

    .label-schedule {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .label {
            display: flex;
            align-items: center;
            gap: 6px;
            font-family: 'Inter', sans-serif;
            font-weight: 500;

            span {
                font-size: 1.8rem;
                font-weight: 600;
            }
        }

        &:hover {
            .add-timetable {
                visibility: visible;
                opacity: 1;
            }
        }

        .add-timetable {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: 'Inter', sans-serif;
            font-size: 1.3rem;

            background-color: #f2f2f2;

            height: 28px;
            width: 220px;
            padding: 0 12px;
            border-radius: 4px;
            cursor: pointer;
            visibility: hidden;
            opacity: 0;

            span {
                position: relative;
                color: #ddd;
                transition: color 0.6s;

                &::after {
                    color: #a782c2;
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: 'Continue Schedule';
                    white-space: nowrap;
                    //  width: 100%;
                    overflow: hidden;
                    animation: run 2s infinite;
                }
            }

            transition: background-color, opacity, visibility;
            transition-duration: 0.3s;
            &:hover {
                background-color: #e5e5e5;
            }
        }
    }

    .separate {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 24px;

        span {
            height: 3px;
            width: 72px;
            opacity: 0.08;
            background-color: #000958;
            border-radius: 7px;

            transition: opacity, background-color;
            transition-duration: 0.6s;
        }
        span:nth-child(3) {
            width: 54px;
        }

        span.first {
            width: 45px;
            background-color: #6059e7;
            opacity: 1;
        }

        span.active {
            background-color: #6059e7;
            opacity: 1;
        }

        span.small {
            width: 34px;
        }
    }

    .wrap-pay {
        margin-top: 24px;
        width: 50%;
    }

    .bottom-btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 32px;

        button {
            display: flex;
            align-items: center;
            gap: 8px;
            height: 32px;
            font-size: 1.4rem;
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            line-height: 1.5;
            padding: 0 24px;
            border-radius: 6px;
            cursor: pointer;
        }

        button.back-btn {
            background-color: #333;
            color: #fff;
        }

        button.next-btn {
            border: 1px solid #bcbdbf;
        }
    }
    .notification-success {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        figure {
            width: 60%;

            .thumb-success {
                width: 100%;
                object-fit: cover;
            }
        }

        div.message {
            margin-top: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            height: 32px;
            width: 80%;
            font-family: 'Inter', sans-serif;
            font-size: 1.5rem;
            font-weight: 500;
            color: #9f9ea1;
            border: 1px solid #fab99c;
            background-color: #fff6f1;
        }
    }
}
.popper-overlay-donation {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    inset: 0;
    z-index: 8;
    background-color: #0f00009c;
    transition: opacity, visibility;
    transition-duration: 0.5s;
}

.popper-donation[class$='show'] {
    display: block;
}

.popper-donation[class$='show'] ~ .popper-overlay-donation {
    visibility: visible;
    opacity: 1;
}

//END

.list-recommends {
    margin-top: 42px;

    h4 {
        margin-bottom: 24px;
        color: #010101;
        font-family: 'Inter', sans-serif;
        font-size: 1.7rem;

        font-weight: 500;
        line-height: 1.9;
    }

    .grid-wrapper-masonry {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(274px, 1fr));
        column-gap: 24px;
        row-gap: 24px;
        grid-auto-rows: 260px;
        grid-auto-flow: dense;

        div {
            position: relative;

            &::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: '';
                background-color: #0d080842;

                visibility: hidden;
                opacity: 0;

                transition: visibility, opacity;
                transition-duration: 0.3s;
            }

            .name {
                position: absolute;
                left: 12px;
                bottom: 20px;
                color: #fff;
                font-family: 'Inter', sans-serif;
                font-size: 1.6rem;

                font-weight: 500;
                line-height: 1.9;
            }

            .button {
                cursor: pointer;
                position: absolute;
                top: 50%;
                left: 50%;
                background-color: #fff;
                transform: translate(-50%, -50%);
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 6px;

                font-family: 'Inter', sans-serif;
                font-size: 1.4rem;

                font-weight: 500;
                line-height: 1.9;
                padding: 4px 10px;
                border-radius: 20px;

                visibility: hidden;
                opacity: 0;

                transition: visibility, opacity;
                transition-duration: 0.3s;
                z-index: 2;

                img {
                    filter: brightness(0) saturate(100%) invert(17%) sepia(2%) saturate(13%) hue-rotate(335deg)
                        brightness(84%) contrast(83%);
                }
            }

            &:hover {
                .button {
                    opacity: 1;
                    visibility: visible;
                }

                &::after {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        .masonry-1 {
            grid-row: span 2;
        }

        .masonry-2 {
            grid-column: span 2;
        }

        figure {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(36, 36, 40, 0.59) 100%);
        }

        .masonry-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 6px;
        }
    }
}

@keyframes spinner {
    from {
        rotate: 0;
    }
    to {
        rotate: 180deg;
    }
}
